name: CI

on:
  push:
    branches:
      - main

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    environment:
      name: Production

    steps:
      - name: Fail or succeed based on commit message
        run: |
          if [[ "${{ github.event.head_commit.message }}" != "success" ]]; then
            exit 1
          fi
