name: CI

on:
  push:
    branches:
      - main

jobs:
  stg:
    name: Staging
    runs-on: ubuntu-latest

    environment:
      name: Staging

    steps:
      - name: Always succeeds
        run: echo "This step always succeeds"

  prd:
    name: Production
    runs-on: ubuntu-latest

    environment:
      name: Production

    steps:
      - name: Fail or succeed based on commit message
        run: |
          if [[ "${{ github.event.head_commit.message }}" != "succeed" ]]; then
            exit 1
          fi
